@{
    ViewData["Title"] = "Signo del Zodiaco";
}

<div class="row justify-content-center">
    <div class="col-md-8 bg-dark text-warning justify-content-center mb-3 br-12">
        <h2 class="align-text-top text-center text-uppercase fst-italic">Confirma tu signo del Zodiaco</h2>
        </div>
</div>

<form method="post" asp-controller="HomeZodiacal" asp-action="Index">
    <div class="row justify-content-center">
        <div class="col-md-6 align-items-center">
            <div class=" bg-warning card-header text-black">
                <h2 class="text-center text-uppercase fst-italic">Signo del Zodiaco</h2>
                <div class="mb-3">

                    
                    <label for="exampleFormControlInput1" class="form-label fw-bold mt-3">Seleccione su dia de nacimiento</label>
                    <select class="form-select bg-light" aria-label="Default select example" name="Dia">
                        <option selected>Seleccione su dia de nacimiento</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>

                    <label for="exampleFormControlInput1" class="form-label fw-bold mt-3">Seleccione su dia de nacimiento</label>
                    <select class="form-select bg-light" aria-label="Default select example" name="Mes">
                        <option selected>Seleccione su dia de nacimiento</option>
                        <option value="1">Enero</option>
                        <option value="2">Febrero</option>
                        <option value="3">Marzo</option>
                        <option value="4">Abril</option>
                        <option value="5">Mayo</option>
                        <option value="6">Junio</option>
                        <option value="7">Julio</option>
                        <option value="8">Agosto</option>
                        <option value="9">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                    <div class="d-grid gap-2 col-6 mx-auto mt-3">
                        <button type="submit" class="btn btn-outline-secondary fw-bold mx-auto">Procesar Signo</button>
                    </div>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto mt-3">
                    <h4 class="mx-auto">@ViewBag.SGZ</h4>
               
                </div>
            </div>
        </div>
    </div>
</form>
 
